@font-face {
  font-family: publicPixel; 
  src: url("/fonts/PublicPixel.ttf");
}

@-ms-viewport{
  width: device-width;
}

body {
  background-color: #ffd42d;
  font-size: 1.2em;
  font-family: sans-serif;
}

body.task-scanner {
  background-color: #ffffff;
  margin: 0;
}

body.projector {
  background-color: #000000;
  font-family: publicPixel, Arial, sans-serif;
}

body.input-page {
  background-color: #000000;;/*#000000;*/
  margin: 0px;
  overflow-y: hidden;
}

h1 {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

div.formbase * {
  min-width: 250px;
}

div.formbase :is(input[type=button], input[type=submit]) {
  min-height: 40px;
  font-size: 1.1rem;
}

div.white-box {
  font-size: 6vh;
  border-radius: 6px;
  background-color: white;
  padding: 0.8vh 0.8vh 0.8vh 0.8vh;
  margin: 0.8vh 6px;
}

.team-controls-box .white-box {
  font-size: 3vh;
}

div.stretched {
  align-self: stretch;
}

.team-controls-box {
  font-family: publicPixel, Arial, sans-serif;
  display: flex;
  justify-content: center;
  gap: 4vh;
}

div.teamtitle {
  font-family: publicPixel, Arial, sans-serif;
  color: white;
  font-size: 3vh;
}

.app-bar {
  display: flex;
  height: 3em;
  width: auto;
  max-width: 100%;
  padding: 8px 24px 4px 24px;
  background-color: #1976d2;
  gap: 8px;
  /*box-shadow: 0px 4px 4px #1976d2;*/
}

.app-bar-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0px 12px 0px 12px;
  border-bottom: 2px solid transparent;
}

.tab-button {
  color: #ffffff;
  opacity: 0.7;
}

.app-bar-button:hover {
  border-bottom: 2px solid #ffffff;
  opacity: 1;
}

.tab-button-selected, .tab-button-selected:hover {
  opacity: 1;
  border-bottom: 2px solid #f50057;
}

.task-mode-group {
  z-index: 99;
  height: '40px';
}

.tmg-inner {
  background-color: #ffd42d;
}

.floating-tmg {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.inline-tmg {
  position: static;
  margin: 20px 0px 20px 0px;
  display: flex;
  justify-content: center;
}

.hastooltip {
  position: relative;
}

.hastooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 5px 3px;
  border-radius: 6px;
  border: 1px solid #000;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 105%;
}

.hastooltip:hover .tooltiptext {
  visibility: visible;
}

canvas:focus {
  outline: none;
}

div.game-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

div.tasks {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  color: #ffffff;
  font-size: 2.25vh;
  margin-top: 0.6vh;
}

div.task-box {
  padding: 4px;
  font-size: 1.3vh;
  color: #000000;
  background-color: #ffffff;
}

div.task-box.solved {
  color: #ffffff;
  background-color: #1819a7;
}

div.task-box.exchanged {
  color: #ffffff;
  background-color: #a0045b;
}

div.moves-infobox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 31vh;
  align-items: center;
  margin: 0.5vh 0px;
}